<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <script src="{{ url_for('static',filename="assets/js/echarts.js") }}"></script>

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <title>股票分析详情</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{{ url_for('static',filename="vendor/bootstrap/css/bootstrap.min.css") }}"
          rel="stylesheet"/>

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/fontawesome.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/templatemo-cyborg-gaming.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/owl.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/animate.css") }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/swiper-bundle.min.css") }}"/>

</head>

<style>
    .header-area .main-nav .nav li:hover a,
    .header-area .main-nav .nav li a.active {
        color: #fff !important;
    }

    .header-area .main-nav .nav li:last-child:hover a,
    .header-area .main-nav .nav li:last-child a.active {
        background-color: #27292a !important;
    }

    #index a {
        color: #fff;
        padding: 8px 10px 8px 10px;
        position: relative;
        right: 30px;
        border-radius: 23px;
        width: 120px;
        height: 47px;
        text-align: center;
        line-height: 30px;
        background-color: #27292a;
        border: 1px solid #e75e8d;
    }

    #index a:hover {
        background-color: #e75e8d;
    }

    #person a {
        border: 1px solid #e75e8d;
    }

    #person:hover .active {
        background-color: #e75e8d !important;
        border-radius: 23px 23px 0 0;
    }

    #person:hover #log-out {
        background-color: #e75e8d !important;
        transition: 0.3s;
        transform: scaleY(1);
    }

    #log-out {
        padding: 0;
        width: 132px;
        height: 46px;
        border-radius: 0 0 23px 23px;
        text-align: center;
        line-height: 46px;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: 50% 0;
        background-color: #1f2122;
    }

    .gaming-library{
        background-color: #27292a;
        margin-bottom: 40px;
    }

    .item{
        margin-bottom: 0px !important;
        padding-bottom: 0px !important;
    }

</style>

<body>
<!-- ***** 头部开始 ***** -->

<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo开始 ***** -->
                    <a href="{{ url_for('personal.index') }}" class="logo">
                        <img src="{{ url_for('static',filename="assets/images/logo.png") }}" alt=""/>
                    </a>
                    <!-- ***** Logo结束 ***** -->
                    <!-- ***** 菜单栏开始 ***** -->
                    <ul class="nav">
                        <li style="width: 120px;" id="index">
                            <a
                                    href="{{ url_for('personal.index') }}">
                                回到首页
                            </a>
                        </li>
                        <li id="person">
                            <a href="{{ url_for('personal.profile') }}" class="active"
                            >用户中心<img src="{{ url_for('static',filename='assets/images/profile-header.jpg') }}"
                                          alt=""
                            /></a>
                            <a href="{{ url_for('personal.logout') }}" id="log-out">退出登录</a>
                        </li>

                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** 菜单栏结束 ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** 头部结束 ***** -->

<div class="container">
    <div class="page-content">
        <!-- ***** 详细信息开始 ***** -->
        <div class="game-details">
            <div class="col-lg-12">
                <div class="content">
                    <div class="gaming-library" style="margin-top: 0">
                        <div class="col-lg-12">
                            <div class="item">
                                <ul>
                                    <li style="width:10%;">
                                        <img
                                                src="{{ url_for('static',filename="assets/images/stockimg.png") }}"
                                                alt=""
                                                class="templatemo-item"
                                        />
                                    </li>
                                    <li style="width: 23%;">
                                        <h4><a href="{{ url_for('personal.detail',stockId=stock.stockId) }}"
                                               class="gupiao">{{ stock.name }}</a></h4>
                                        <span>{{ stock.ts_code }}</span>
                                    </li>
                                    <li style="width: 23%;">
                                        <h4>{{ stock.industry }}</h4>
                                        <span>所属行业</span>
                                    </li>
                                    <li style="width: 23%;">
                                        <h4>{{ stock.area }}</h4>
                                        <span>所属地区</span>
                                    </li>
                                    <li style="width: 8%;">
                                        <h4>{{ stock.list_date }}</h4>
                                        <span>上市时间</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- 数据折线图开始 -->
                    <div id="main" style="width: 1165px; height: 400px;" data-stockId="{{ stock.stockId }}"
                         data-pre="{{ json_pre }}" data-real="{{ json_real }}"></div>
                    <!-- 数据折线图结束 -->
                    <div class="col-lg-12">
                        {% if myexit==True %}
                            <div class="main-border-button">
                                <a href="#" class="subscribe-button" data-tsc="{{ stock.ts_code }}"
                                   data-stock="{{ stock.stockId }}">已订阅</a>
                            </div>
                        {% endif %}
                        {% if myexit==False %}
                            <div class="main-border-button">
                                <a href="#" class="subscribe-button" data-tsc="{{ stock.ts_code }}"
                                   data-stock="{{ stock.stockId }}">订阅</a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        <!-- ***** 详细信息结束 ***** -->
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p></p>
            </div>
        </div>
    </div>
</footer>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename="vendor/jquery/jquery.min.js") }}"></script>
<script src="{{ url_for('static',filename="vendor/bootstrap/js/bootstrap.min.js") }}"></script>

<script src="{{ url_for('static',filename="assets/js/owl-carousel.js") }}"></script>
<script src="{{ url_for('static',filename="assets/js/tabs.js") }}"></script>
<script src="{{ url_for('static',filename="assets/js/popup.js") }}"></script>
<script src="{{ url_for('static',filename="assets/js/custom.js") }}"></script>

<script>

    // 获取所有订阅按钮
    const subscribeButtons = document.querySelectorAll('.subscribe-button');

    // 为每个订阅按钮添加点击事件
    subscribeButtons.forEach(button => {
        button.addEventListener('click', (event) => {
            event.preventDefault();

            // 获取当前点击的股票代码
            const tsCode = button.getAttribute('data-tsc');

            // 发送POST请求给后端进行处理
            fetch('/personal/subscribe', {
                method: 'POST',
                body: JSON.stringify({ts_code: tsCode}),
                headers: {
                    'Content-Type': 'application/json'
                }
            })
                .then(response => {
                    if (response.ok) {
                        // 处理成功
                        alert('订阅成功！');
                        // 2秒钟后刷新页面
                        setTimeout(function () {
                            location.reload();
                        }, 100);

                    } else {
                        // 处理失败
                        alert('订阅失败！您或许已经订阅此股票！');
                    }
                })
                .catch(error => {
                    console.error('请求出错：', error);
                    alert('请求出错！');
                });
        });
    });
</script>

<script type="text/javascript">
    var chartDom = document.getElementById('main');


    var myChart = echarts.init(chartDom);
    var option;
    let base = +new Date(2020, 11, 7);
    let oneDay = 24 * 3600 * 1000;
    let date = [];
    var data = chartDom.getAttribute('data-pre');
    var new_data = chartDom.getAttribute('data-real');

    var datapre = data.split(",").map(function (item) {
        return item.trim();
    });

    // 将数组中的每个元素转换成数字类型
    datapre = datapre.map(function (item) {
        return parseFloat(item);
    });
    var datareal = new_data.split(",").map(function (item) {
        return item.trim();
    });

    // 将数组中的每个元素转换成数字类型
    datareal = datareal.map(function (item) {
        return parseFloat(item);
    });

    for (let i = 1; i < 90; i++) {
        var now = new Date((base += oneDay));
        date.push([now.getFullYear(), now.getMonth() + 1, now.getDate()].join('/'));
    }
    option = {
        tooltip: {
            trigger: 'axis',
            position: function (pt) {
                return [pt[0], '10%'];
            }
        },
        title: {
            left: 'center',
            text: '{{ stock.name }}'
        },
        toolbox: {
            x:1000,
            feature: {
                // dataZoom: {
                //     yAxisIndex: 'none'
                // },
                restore: {},
                saveAsImage: {}
            }
        },
        animation: true,
        animationDuration: 10000,
        xAxis: {
            type: 'category',
            boundaryGap: false,
            data: date,
            axisLine: {
                show: true,
                lineStyle: {
                    color: '#fff',
                    width: 2,

                }
            }
        },
        yAxis: {
            type: 'value',
            boundaryGap: [0, '100%'],

            axisLine: {
                show: true,
                lineStyle: {
                    color: '#fff',
                    width: 2,
                }
            }
        },
        dataZoom: [
            {
                type: 'inside',
                start: 0,
                end: 40
            },
            {
                start: 0,
                end: 10
            }
        ],
        series: [
            {
                name: '预测股价',
                type: 'line',
                symbol: 'none',
                sampling: 'lttb',
                yAxisIndex: 0,
                itemStyle: {
                    color: 'rgb(255, 70, 131)'
                },

                data: datapre
            },
            {
                name: '实际股价',
                type: 'line',
                symbol: 'none',
                sampling: 'lttb',
                yAxisIndex: 0,
                itemStyle: {
                    color: 'rgb(64, 158, 255)'
                },

                data: datareal
            }
        ]
    };


    option && myChart.setOption(option);
</script>
</body>
</html>
