<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />

    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
            rel="stylesheet"
    />

    <title>我的个人信息及订阅信息</title>

    <!-- Bootstrap core CSS -->
    <link
            href="{{ url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css') }}"
            rel="stylesheet"
    />

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/fontawesome.css') }}"/>
    <link
            rel="stylesheet"
            href="{{ url_for('static',filename='assets/css/templatemo-cyborg-gaming.css') }}"
    />
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/owl.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/animate.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static',filename='assets/css/swiper-bundle.min.css') }}"/>
</head>

<style>
    .header-area .main-nav .nav li:hover a,
.header-area .main-nav .nav li a.active {
        color: #fff !important;
    }

    #index a{
        color: #fff;
        padding: 8px 10px 8px 10px;
        position: relative;
        right: 30px; 
        border-radius: 23px;
        width: 120px;
        height: 47px;
        text-align: center;
        line-height: 30px;
        background-color: #27292a;
        border: 1px solid #e75e8d;
    }

    #index a:hover{
        background-color: #e75e8d;
    }

    #person:hover .active{
        border-radius: 23px 23px 0 0;
    }
    #person:hover #log-out{
        background-color: #1f2122;
        transition: 0.3s;
        transform: scaleY(1);
    }

    #log-out{
        padding: 0;
        width: 132px;
        height: 46px;
        border-radius: 0 0 23px 23px;
        text-align: center;
        line-height: 46px;
        transition: 0.3s;
        transform: scaleY(0);
        transform-origin: 50% 0;
        background-color: #1f2122;
    }



    /* 更改头像按钮样式 */
    .fileBtn {
        background-color: #e75e8d;
        color: #fffefe;
        height: 45px;
        width: 100px;
        border: 1px solid #e75e8d;
        border-radius: 25px;
        text-align: center;
        line-height: 40px;
        margin: 15px 0 0 75px;
        transition: 0.3s;
    }

    .fileBtn:hover {
        background-color: #fffefe;
        color: #e75e8d;
        border: 1px solid #e75e8d;
    }

    
    /* 模态框样式 */
    /* 模态框背景 */
    .modal {
        display: none; /* 默认隐藏 */
        position: fixed;
        z-index: 101;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.4);
    }

    /* 模态框内容 */
    .modal-content {
        background-color: #1f2122;
        color: #fffefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #1f2122;
        width: 50%;
        border-radius: 25px;
    }

    #formInsert > div {
        margin-bottom: 10px;
    }

    #formInsert2 > div {
        margin-bottom: 10px;
    }

    .form-control {
        background-color: #fffefe;
    }

    /* 按钮样式 */
    .myBtn {
        height: 46px;
        border: 1px solid #ec6090;
        border-radius: 25px;
        color: #e75e8d;
        background-color: #1f2122;
        margin-top: 15px;
        transition: 0.3s;
    }

    .myBtn:hover {
        background-color: #ffffff;
    }

    /* 关闭按钮 */
    .close {
        color: #aaa;
        float: right;
        font-size: 30px;
        font-weight: bold;
    }

    .close:hover,
    .close:focus {
        color: black;
        text-decoration: none;
        cursor: pointer;
    }
</style>

<body>
<!-- ***** Header Area Start ***** -->
<header class="header-area header-sticky">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <nav class="main-nav">
                    <!-- ***** Logo Start ***** -->
                    <a href="{{ url_for('personal.index') }}" class="logo">
                        <img src="{{ url_for('static',filename='assets/images/logo.png') }}" alt=""/>
                    </a>
                    <!-- ***** Logo End ***** -->

                    <!-- ***** Menu Start ***** -->
                    <ul class="nav" >
                        <li style="width: 120px;" id="index">
                            <a 
                            href="{{ url_for('personal.index') }}">
                            回到首页
                            </a>
                        </li>
                        <li id="person" >
                            <a href="{{ url_for('personal.profile') }}" class="active"
                            >用户中心<img src="{{ url_for('static',filename='assets/images/profile-header.jpg') }}"
                                          alt=""
                            /></a>
                            <a href="{{ url_for('personal.logout') }}" id="log-out">退出登录</a>
                        </li>

                    </ul>
                    <a class="menu-trigger">
                        <span>Menu</span>
                    </a>
                    <!-- ***** Menu End ***** -->
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- ***** Header Area End ***** -->

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="page-content">
                <!-- ***** Banner Start ***** -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="main-profile">
                            <div class="row">
                                <div class="col-lg-4">
                                    <img
                                            src="{{ url_for('static',filename='assets/images/profile.jpg') }}"
                                            id="userpicture"
                                            alt=""
                                            style="border-radius: 23px"
                                    />
                                    <input
                                            type="file"
                                            id="fileInput"
                                            accept="image/*"
                                            onchange="previewFile()"
                                            style="display: none"
                                    />
                                    <input
                                            type="button"
                                            value="更改头像"
                                            class="fileBtn"
                                            onclick="document.getElementById('fileInput').click();"
                                    />
                                </div>
                                <div class="col-lg-4 align-self-center">
                                    <div class="main-info header-text">
                                        <span>简介</span>
                                            <p>昵称：{{ g.user.nickname }}</p>
                                            <p>年龄：{{ g.user.age }}</p>
                                            <p>邮箱：{{g.user.userMail}}</p>
                                            <div style="height: 85px; width: 340px">
                                                <p
                                                        style="
                              width: 100%;
                              height: 100%;
                              word-break: break-all;
                              word-wrap: break-word;
                            "
                                                >
                                                    个性签名：{{ g.user.signature }}
                                                </p>
                                            </div>
                                        <!-- 修改信息模态框 -->
                                        <div id="myModal" class="modal">
                                            <!-- 模态框内容 -->
                                            <div class="modal-content">
                                                <div
                                                        class="modal-header"
                                                        style="border-bottom: 1px solid #e75e8d"
                                                >
                                                    <span calss="col-lg-9">修改信息</span>
                                                    <span class="close" style="font-size: 20px"
                                                    >&times;</span
                                                    >
                                                </div>

                                                <div class="modal-body" >
                                                    <form method="post" id="formInsert">
                                                        <div class="form-group row">
                                                            <label
                                                                    for="nickname"
                                                                    class="col-3 col-form-label"
                                                            >昵称</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        id="nickname"
                                                                        name="nickname"
                                                                        required
                                                                />
                                                                <div id="result_name"></div>
                                                            </div>
                                                        </div>
                                                        
                                                        <div class="form-group row">
                                                            <label
                                                                    for="age"
                                                                    class="col-3 col-form-label"
                                                            >年龄</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        id="age"
                                                                        name="age"
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                    for="userMail"
                                                                    class="col-3 col-form-label"
                                                            >邮箱</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="text"
                                                                        class="form-control"
                                                                        id="userMail"
                                                                        name="userMail"
                                                                        required
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                    for="signature"
                                                                    class="col-3 col-form-label"
                                                            >个性签名</label
                                                            >
                                                            <div class="col-9">
                                                                <!-- <input type="text" class="form-control" id="signature"> -->
                                                                <textarea
                                                                        name="signature"
                                                                        id="signature"
                                                                        cols="59"
                                                                        rows="3"
                                                                        style="
                                        border-radius: 0.38rem;
                                        outline: none;
                                      "
                                                                ></textarea>
                                                            </div>
                                                        </div>
                                                        <input type="submit" id="user-submit" style="display: none; ">
                                                    </form>
                                                </div>
                                                <div
                                                        class="modal-footer"
                                                        style="border-top: 1px solid #e75e8d"
                                                >
                                                    <button
                                                            class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                    >
                                                        取消
                                                    </button>
                                                    <button
                                                            class="btn btn-primary"
                                                            onclick="document.getElementById('user-submit').click()"
                                                            style="
                                  background-color: #e75e8d;
                                  border-color: #e75e8d;
                                "
                                                    >
                                                        保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 修改密码模态框 -->
                                        <div id="myModal2" class="modal">
                                            <!-- 模态框内容 -->
                                            <div class="modal-content">
                                                <div
                                                        class="modal-header"
                                                        style="border-bottom: 1px solid #e75e8d"
                                                >
                                                    <span calss="col-lg-9">修改密码</span>
                                                    <span class="close" style="font-size: 20px"
                                                    >&times;</span
                                                    >
                                                </div>

                                                <div class="modal-body">
                                                    <form method="post" id="formInsert2"> 
                                                        <div class="form-group row">
                                                            <label
                                                                    for="originpwd"
                                                                    class="col-3 col-form-label"
                                                            >原密码</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="password"
                                                                        name="originpwd"
                                                                        class="form-control"
                                                                        id="originpwd"
                                                                        required
                                                                />
                                                            </div>
                                                        </div>

                                                        <div class="form-group row">
                                                            <label
                                                                    for="newpwd"
                                                                    class="col-3 col-form-label"
                                                            >新密码</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="password"
                                                                        class="form-control"
                                                                        name="newpwd"
                                                                        id="newpwd"
                                                                        required
                                                                />
                                                            </div>
                                                        </div>
                                                        <div class="form-group row">
                                                            <label
                                                                    for="verifypwd"
                                                                    class="col-3 col-form-label"
                                                            >确认密码</label
                                                            >
                                                            <div class="col-9">
                                                                <input
                                                                        type="password"
                                                                        class="form-control"
                                                                        id="verifypwd"
                                                                        name="verifypwd"
                                                                        required
                                                                />
                                                            </div>
                                                        </div>
                                                        <input type="submit" id="user-submit2" style="display: none; ">
                                                    </form>
                                                </div>
                                                <div
                                                        class="modal-footer"
                                                        style="border-top: 1px solid #e75e8d"
                                                >
                                                    <button
                                                            class="btn btn-secondary"
                                                            data-dismiss="modal"
                                                    >
                                                        取消
                                                    </button>
                                                    <button
                                                            class="btn btn-primary"
                                                            onclick="document.getElementById('user-submit2').click()"
                                                            style="
                                  background-color: #e75e8d;
                                  border-color: #e75e8d;
                                "
                                                    >
                                                        保存
                                                    </button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- 触发模态框的按钮 -->
                                        <button class="col-5 myBtn">修改信息</button>
                                        <button class="col-5 myBtn" style="float: right">
                                            修改密码
                                        </button>
                                    </div>
                                </div>
                                <div class="col-lg-4 align-items-start">
                                    <ul style="border: 1px solid #e75e8d;">
                                        <li style="color:rgba(255,255,255,0.9);">股票订阅数 <span>{{mylen}}</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- ***** Banner End ***** -->

                <!-- ***** Gaming Library Start ***** -->
                <div class="gaming-library profile-library">
                    <div class="col-lg-12">
                        <div class="heading-section">
                            <h4><em>我的</em> 订阅</h4>
                        </div>
                        {% for list in mylist %}
                        <div class="item">
                            <ul>
                                <li>
                                    <img
                                            src="{{ url_for('static',filename='assets/images/stockimg.png') }}"
                                            alt=""
                                            class="templatemo-item"
                                    />
                                </li>
                                <li>
                                    <h4>{{list[0].name}}</h4>
                                    <span>{{list[0].ts_code}}</span>
                                </li>
                                <li>
                                    <h4>{{list[0].industry}}</h4>
                                    <span>所属行业</span>
                                </li>
                                <li>
                                    <h4>{{list[0].area}}</h4>
                                    <span>所属地区</span>
                                </li>
                                <li>
                                    <h4>{{list[0].list_date}}</h4>
                                    <span>上市时间</span>
                                </li>
                                <li>
                                    <div class="main-border-button border-active">
                                        <a href="{{ url_for('personal.detail',stockId=list[0].stockId) }}">进入详情</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <!-- ***** Gaming Library End ***** -->
            </div>
        </div>
    </div>
</div>

<!-- Scripts -->
<!-- Bootstrap core JavaScript -->
<script src="{{ url_for('static',filename='vendor/jquery/jquery.min.js') }}"></script>
<script src="{{ url_for('static',filename='vendor/bootstrap/js/bootstrap.min.js') }}"></script>

<script src="{{ url_for('static',filename='assets/js/isotope.min.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/owl-carousel.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/tabs.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/popup.js') }}"></script>
<script src="{{ url_for('static',filename='assets/js/custom.js') }}"></script>

<!-- 更换头像 -->
<script>
    function previewFile() {
        const file = document.querySelector('input[type="file"]').files[0];
        const reader = new FileReader();
        reader.addEventListener(
            "load",
            function () {
                document.getElementById("userpicture").src = reader.result;
            },
            false
        );

        if (file) {
            reader.readAsDataURL(file);
        }
    }
</script>

<!-- 模态框脚本 -->
<script>
    // 获取模态框
    var modal = document.getElementById("myModal");
    var modal2 = document.getElementById("myModal2");

    // 获取打开模态框的按钮
    var btn = document.getElementsByClassName("myBtn")[0];
    var btn2 = document.getElementsByClassName("myBtn")[1];

    // 获取关闭模态框的 <span> 元素
    var span = document.getElementsByClassName("close")[0];
    var span2 = document.getElementsByClassName("close")[1];

    // 获取关闭模态框的 "取消"按钮 元素
    var btnCancel = document.getElementsByClassName("btn-secondary")[0];
    var btnCancel2 = document.getElementsByClassName("btn-secondary")[1];

    // 当用户点击按钮时，打开模态框
    btn.onclick = function () {
        modal.style.display = "block";
    };
    btn2.onclick = function () {
        modal2.style.display = "block";
    };

    // 当用户点击 <span> (x)时，关闭模态框
    span.onclick = function () {
        modal.style.display = "none";
    };
    span2.onclick = function () {
        modal2.style.display = "none";
    };

    // 当用户点击 "取消"按钮时，关闭模态框
    btnCancel.onclick = function () {
        modal.style.display = "none";
    };
    btnCancel2.onclick = function () {
        modal2.style.display = "none";
    };

    // 当用户点击任意地方时，关闭它
    // window.onclick = function(event) {
    // if (event.target == modal) {
    // modal.style.display = "none";
    // }
    // }
</script>

<script>
    // 模态框昵称验证
    const nicknameInput = document.getElementById("nickname");
    nicknameInput.onblur = function () {
        const nickname = nicknameInput.value;
        if (!isValidNickname(nickname)) {
            alert(
                "请输入 2 到 10 个字符，只包含中文、字母、数字、下划线和横线。"
            );
            return;
        }
    };

    function isValidNickname(nickname) {
        // 匹配规则：只包含中文、字母、数字、下划线和横线，长度为 2 到 10 个字符
        const nicknameRegex = /^[\u4e00-\u9fa5a-zA-Z0-9_-]{2,10}$/;
        return nicknameRegex.test(nickname);
    }

    const userMailInput = document.getElementById("userMail");
    userMailInput.onblur = function () {
        const userMail = userMailInput.value;
        if (!isValidMail(userMail)) {
            alert("请输入正确的邮箱格式");
            return;
        }
    };

    function isValidMail(userMail) {
        const userMailRegex = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$/;
        return userMailRegex.test(userMail);
    }
</script>
</body>
</html>
