<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>登录</title>
    <link rel="stylesheet" href="{{ url_for('static',filename="assets/css/login.css") }}"/>
    <script
            src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"
            charset="utf-8"
    ></script>
</head>
<body>
<div class="container" id="login-box">
    <div class="form-container sign-in-container">
        <form method="post" name="myForms" onsubmit="return validateForm()">
            <h1>注册</h1>
            <div class="txtb">
                <input type="text" name="username"/>
                <span data-placeholder="用户名"></span>
            </div>
            <div class="txtb">
                <input type="email" name="email"/>
                <span data-placeholder="邮箱"></span>
            </div>
            <div class="txtb">
                <input type="password" name="password"/>
                <span data-placeholder="密码"></span>
            </div>
            <div class="txtb">
                <input type="password" name="password_confirm"/>
                <span data-placeholder="确认密码"></span>
            </div>
            <button type="submit">注册</button>
        </form>
    </div>
    <div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <h1>已有账号？</h1>
                <p>请使用您的账号进行登录</p>
                <a href="{{ url_for('auth.login') }}">登陆</a>
            </div>
        </div>
    </div>
</div>
</body>
<script>
    $(".txtb input").on("focus", function () {
        $(this).addClass("focus");
    });

    $(".txtb input").on("blur", function () {
        if ($(this).val() == "") $(this).removeClass("focus");
    });

    function validateForm() {
        var username = document.forms["myForms"]["username"].value;
        var password = document.forms["myForms"]["password"].value;
        var passsword_confirm = document.forms["myForms"]["password_confirm"].value;

        if (username.length < 3 || username.length > 14) {
            alert("用户名长度错误，为3~14位");
            return false;
        }

        if (password.length < 6 || password.length > 20) {
            alert("密码长度错误，为6~20位");
            return false;
        }

        if (password != passsword_confirm) {
            alert("两次密码输入不一致！");
            return false;
        }
    }
</script>
</html>
